.main-card{
  margin: 15px;
  align-self: center;
}

mat-card{
  text-align: center;
}

.column-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner{
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
