<mat-card>
  <mat-toolbar>
    <span>Banhos agendados para hoje</span>
  </mat-toolbar>

  <div *ngIf="pets$ | async as petsDataSource; else loading">
    <table mat-table [dataSource]="petsDataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Species Column -->
      <ng-container matColumnDef="species">
        <th mat-header-cell *matHeaderCellDef>Espécie</th>
        <td mat-cell *matCellDef="let element">{{ element.species }}

          <mat-icon> {{ element.category | category }} </mat-icon>

        </td>
      </ng-container>

      <!-- Race Column -->
      <ng-container matColumnDef="race">
        <th mat-header-cell *matHeaderCellDef>Raça</th>
        <td mat-cell *matCellDef="let element">{{ element.race }}</td>
      </ng-container>

      <!-- Observation Column -->
      <ng-container matColumnDef="observation">
        <th mat-header-cell *matHeaderCellDef>Observação</th>
        <td mat-cell *matCellDef="let element">{{ element.observation }}</td>
      </ng-container>

      <!-- Owner Column -->
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef>Tutor</th>
        <td mat-cell *matCellDef="let element">{{ element.owner }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
