<mat-card class="main-card">
  <mat-vertical-stepper
    color="primary"
    [linear]="false"
    #stepper
    [animationDuration]="animationDuration"
  >
    <mat-step [stepControl]="form">
      <form [formGroup]="form">
        <ng-template matStepLabel>Informações do pet</ng-template>

        <mat-form-field class="full-width">
          <mat-label>Nome do pet: </mat-label>
          <input
            matInput
            formControlName="name"
            required
            #name
          />
          <mat-hint align="end">{{name.value.length}}/20</mat-hint>
          <mat-error *ngIf="form.get('name')?.invalid">{{ getErrorMessage('name') }}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Idade do pet: </mat-label>
          <input
            matInput
            placeholder="Idade do pet"
            formControlName="age"
          />
        </mat-form-field>

        <div>
          <button mat-button mat-button color="warn" (click)="stepper.reset()">
            Limpar
          </button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="form">
      <form [formGroup]="form">
        <ng-template matStepLabel>Raça e espécie</ng-template>

        <mat-form-field class="full-width">
          <mat-label>Espécie: </mat-label>
          <mat-select formControlName="species" required>
            <mat-option value="Cao">Cão</mat-option>
            <mat-option value="Gato">Gato</mat-option>
            <mat-option value="Ave">Ave</mat-option>
            <mat-option value="Roedor">Roedor</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('name')?.invalid">{{ getErrorMessage('species') }}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Raça: </mat-label>
          <input matInput placeholder="Raça" formControlName="race"/>
        </mat-form-field>

        <div>
          <button mat-button mat-button color="warn" (click)="stepper.reset()">
            Limpar
          </button>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="form">
      <form [formGroup]="form">
        <ng-template matStepLabel
          >Observações e informações do humano responsável</ng-template
        >

        <mat-form-field class="full-width">
          <mat-label>Observações: </mat-label>
          <input
            matInput
            placeholder="Observações"
            formControlName="observation"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Nome do tutor: </mat-label>
          <input
            matInput
            placeholder="Nome do tutor"
            formControlName="owner"
            required
            #owner
          />
          <mat-hint align="end">{{owner.value.length}}/50</mat-hint>
          <mat-error *ngIf="form.get('name')?.invalid">{{ getErrorMessage('owner') }}</mat-error>
        </mat-form-field>

        <div>
          <button mat-button mat-button color="warn" (click)="stepper.reset()">
            Limpar
          </button>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <div>
        <button mat-button (click)="onCancel()" color="warn">Cancelar</button>
        <button mat-raised-button (click)="onSubmit()" color="primary">
          Salvar
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>
